version: "3.1"
services:
  manga-notify:
    build: .
    container_name: manga-notify
    network_mode: host
    environment:
      TG_TOKEN: "${TG_TOKEN}"
      PARSING_INTERVAL: "${PARSING_INTERVAL:-15}"
    restart: unless-stopped

  redis:
    image: redis:alpine
    network_mode: host
    restart: always
    volumes:
      - ./volumes/redis:/data

  postgres:
    image: postgres:14
    network_mode: host
    restart: always
    environment:
      POSTGRES_USER: manga_notify
      POSTGRES_DB: manga_notify
      POSTGRES_PASSWORD: manga_notify
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data/pgdata
      - ./postgres/migrations:/docker-entrypoint-initdb.d
