TAG=2.3.0
TG_TOKEN=replace-with-telegram-token
PARSING_INTERVAL=15
POSTGRES_PASSWORD=replace-with-random-hex-password
REDIS_PASSWORD=replace-with-random-password
ERAI_RAWS_TOKEN=
BASE_WEBHOOK_URL=https://sakura.isthisloss.ru
WEBHOOK_PATH=/webhook/sakura
WEBHOOK_SECRET=replace-with-random-secret
